<!DOCTYPE html>
<html>
<head>
    <title>Logined</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>This is {{ user }} page.</p>
    <p>If you want to add research, enter infomation in the form below.</p>

    <form method="post", action="">
        {{ aform.hidden_tag() }}
        <table>
            <tr>
                <th>{{ aform.title.label }}</th>
                <td>{{ aform.title(size=32) }}</td>
            </tr>
            <tr>
                <th>{{ aform.author.label }}</th>
                <td>{{ aform.author(size=32) }}</td>
            </tr>
            <tr>
                <th>{{ aform.conference.label }}</th>
                <td>{{ aform.conference(size=32) }}</td>
            </tr>
            <tr>
                <th>{{ aform.date.label }}</th>
                <td>{{ aform.date(size=32) }}</td>
            </tr>
            <tr>
                <td>{{ aform.submit() }}</td>
            </tr>
        </table>
    </form>

    <p>If you want to search research, enter query in the form below.</p>

    <form method="post" action="">
        {{ sform.hidden_tag() }}
        <table>
            <tr>
                <th>{{ sform.query.label }}</th>
                <td>{{ sform.query(size=32) }}</td>
                <td>{{ sform.submit() }}</td>
            </tr>
        </table>
    </form>

    <br>
    
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Auther</th>
            <th>Conference</th>
            <th>Date</th>
        </tr>
        {% if data != None %}
        {% for d in data %}
        <tr>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[4] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <br>
    <br>
    <button type="button" onclick="location.href='/logout'">logout</button>
</body>
</html>