<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Please enter your infomation.</h2>
    <form method="post" action="/register">
        {{ form.csrf_token }}
         <p>
             {{ form.user_name.label }}<br>
             {{ form.user_name(size=32) }}
         </p>
         <p>
             {{ form.user_pass.label }}<br>
             {{ form.user_pass(size=32) }}
         </p>
         <p>
            {{ form.user_age.label }}<br>
            {{ form.user_age(size=32) }}
        </p>
         <p>{{ form.submit() }}</p>
    </form>
    <p>
        {% for error in form.user_name.errors %}
            <span style="color: red;">{{ error }}</span></br>
        {% endfor %}
        {% for error in form.user_pass.errors %}
            <span style="color: red;">{{ error }}</span></br>
        {% endfor %}
    </p>
</body>
</html>