<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Please enter your infomation.</h2>
    <form method="post" action="/completed">
        <label>Username:</label>
        <input type="text" name="username" required>
        <br>
        <label>Password:</label>
        <input type="password" name="userpass" required>
        <br>
        <label>Age     :</label>
        <input type="text" name="userage" required>
        <br>
        <input type="submit" value="Completed">
    </form>